<div class="clear"></div>
<div class="footerbox">
  <div class="main">
    <div class="telbox">
      <p class="ccsl">400-9900-011 | admin@artyy.cn</p>
      <span class="ccsl">( 服务咨询热线 | 邮箱 )</span> 
    </div>
    <div class="footbox">
      <div>公司地址:安徽省合肥市电子商务产业园G区<br />
        <a href="http://app1.nmpa.gov.cn/data_nmpa/face3/base.jsp?tableId=28&tableName=TABLE28&title=%E4%BA%92%E8%81%94%E7%BD%91%E8%8D%AF%E5%93%81%E4%BF%A1%E6%81%AF%E6%9C%8D%E5%8A%A1&bcId=152912030752488832300204864740" target="_blank">互联网药品信息服务资格证编号(皖)-经营性-2020-0067</a><br />
        <a href="http://www.beian.miit.gov.cn/" target="_blank">皖ICP备20011207号-1</a> | <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34019202000997" target="_blank"><img src="/public/images/index/ga_icon.png" /> 皖公网安备34019202000997号</a><br />
        <a href="https://beian.miit.gov.cn/#/Integrated/recordQuery" target="_blank">增值电信业务经营许可证：皖B2-皖B2-20200254</a> | <a href="http://gs.ccm.mct.gov.cn/lic/901c496390834e23b51a77c38b02c5c9" target="_blank">皖网文「2020」1996-085号</a> <br />
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<a class="scroll-to-top hidden-mobile visible" href="#"><i class="fa fa-chevron-up"></i></a>