<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<link rel="icon" href="/public/images/favicon.ico">
<title>艺羊优选（ARTSHEEP.CN）-选好物，上艺羊！</title>
<meta name=”keywords” content=” 艺羊直购,艺羊,艺羊严选,艺羊MCN,MCN直播商学院,安徽宜购网络科技有限公司”>
<meta name=”description” content=” 艺羊直购ARTSHEEP.CN - 专业线上+线下综合购物平台，艺羊隶属于安徽宜购网络科技有限公司公司旗下品牌项目。商品涵盖服饰箱包、美妆个护、家电数码、母婴玩具等各大品类，旨在创造品质生活，打造全民新消费购物体验！选好物，上艺羊。”>
<link type="text/css" rel="stylesheet" href="/public/css/style.css" />
<link type="text/css" rel="stylesheet" href="/public/css/common.css" />
<link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/public/js/jquery-1.8.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/public/js/banner.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<script>
  //axios.defaults.baseURL = 'http://47.98.158.194:8080';
</script>
